{% extends 'base.html' %}
{% block title %}Search Results{% endblock title %}

{% load static %}
{% block body %}
<section class="f-section">
        <h1 class="text-center">SEARCH <span>RESULTS</span></h1>
        <div class="main-container m-2">
            {% if search %}
            {% for f in search %}
            <div class="left left-2">
                <div class="box box-2">
                    <img src="{{f.image.url}}" alt="">
                </div>
                <div class="box box-2">
                    <span class="flight-name">Flight</span>
                <span>{{f.From}} <span>To</span> {{f.to}}</span>
                <span>{{f.f_date}}</span>
                <span class="price">Price:<b><span>{{f.flight_price}}</span></b></span>
                {% if user.is_authenticated %}
                <button class="btn-2"><a href="/book/{{f.uid}}">Flight Book</a></button>
                {% else %}
                <button class="btn-2"><a href="/login">Flight Book</a></button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h1 class="text-center">Flight Not Found 404</h1>
        {% endif %}
        
        </div>
    </section>
{% endblock body %}
